<!DOCTYPE html>
<html
	xmlns:th="https://www.thymeleaf.org/"
	th:replace="~{base::layout(~{::section})}"
>
<head>
<meta charset="UTF-8">
<title>Welcome to Home Page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center"
	>
		<div class='text-center'>
			<h1 class="fw-bold ">Smart Contact Manager</h1>
			<p>Start collecting your contacts in a smarter way. We provide
				very efficient and smarter way of handling contacts</p>
				<button class="btn btn-primary">Get Started</button>
		</div>
	</section>
</body>
</html>